<form action="/create_new_words" method="post">
  <div class="input-word">
    <label for="new-term">Term</label>
    <input type="text" name="new-term" placeholder="New Word">
  </div>
  <div class="input-definition">
    <label for="definition">Definition</label>
    <input type="text" name="first-definition" placeholder="Definition">
  </div>
  <button type="submit" name="writter-button">Add to Library</button>
</form>

<div class="navbar">
  <a class="options" href="/">Home</a>
</div>
