<h1><%= @word.term %></h1>
<% @word.definitions.each do |definition| %>
  <br><p><%= definition %></p>
<% end %>

<form action="/definitions/<%= @word.term %>" method="post">
  <label>New Definition</label>
  <input type="text" name="new-definition" placeholder="for <%= @word.term %>">
  <button type="submit"></button>
</form>

<a href="/"></a>
